body{
    padding:100px 50px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:bisque
}

.div{
    display:flex;
    justify-content: space-between;
}

.border{
    border-top: 4px double black;
}

select{
    width:390px;
}
.button{
    background-color:rgb(226, 45, 45);
    border: none;
    color:white;
    padding:13px;
    border-radius:4px;
    font-size: 15px;
    cursor: pointer;
}


.button:focus{
    border: 3px solid rgb(240, 149, 162);
    box-shadow: 0 0 5px rgb(240, 149, 162);
   
}

input,select{
    border: 1px solid rgb(210,204,204);
    border-radius: 5px;
    width:370px;
    padding:10px;
}

input:focus,select:focus{
    outline: none;
    box-shadow: 0 0 5px rgb(0,225,225);
}

#file{
    width:280px;
    height:15px;
    font-size:15px;
}

#dis{
    margin-right: 420px;
}

/* .size{
    font-family: Arial, Helvetica, sans-serif;
} */

#text{
    color: rgb(117, 113, 113);
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 17px; */
}

#btn{
    border: none;
    color: white;
    background-color:brown;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-radius: 3px;
    height: 40px;
    width:60px;
    margin-top: 70px;
}

#btn:focus{
    box-shadow: 0 0 5px green;
}

.mat{
    width: 389px;
}

.rural{
    width: 10px;
}